.place{
    position: relative;
    width:100%;
    height: 660px;
    border: 2px solid yellow;
    padding: 0;
    margin-bottom: 80px;
}

.place:nth-child(5){
    margin-bottom: 0;
    border:orchid 2px solid;
}