.cover__subtitle{

   z-index: 2;
    width: 360px;
    height: 66px;
    color:white;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 2px solid red;
    align-self: center;
}