.header{
    width:90%;
    height:52px;
    margin-left: 48px;
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    
}