.lead__caption{
  
    font-size:10px;
    line-height:14px;
    color: white;
    width: 158px;
    height:14px;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}