.cover__title{

   align-self: center;

    width:560px;
    height:152px;
    font-weight: 900px;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color:white;
    z-index: 2;
}