.footer{
    padding: 0;
    display:inline-grid;
    grid-template-columns: repeat(auto-fill, 8.9%);
    margin-left: 48px;
    margin-top: 92px;
    width:1184px;
    height:18px;
    border: 2px red solid;
    margin-bottom: 24px;
}